/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Base styles */
body {
  background-image: url(images/background.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.search {
  margin: 5% 5% 0 5%;
}

input[type="search"] {
  border-radius: 50px;
}

.main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main img {
  width: 150px;
  height: 150px;
}

.other {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  display: block;
}

.other img {
  width: 30px;
  height: 30px;
}

.other p {
  font-size: 20px;
}

.search img {
  width: 60px;
  height: 60px;

}

.search h1 {
  text-align: center;
}

.btn {
  border-radius: 50%;
}

.error {
  font-size: 30px;
  text-align: center;
  padding: 50px;
}


.App {
  width: 300px;
  /* Adjust as needed */
  margin: 5vh auto;
  padding: 20px;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  color: rgb(0, 0, 0);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

@media screen and (min-width: 768px) {
  .App {
    width: 400px;
    /* Adjust as needed */
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .other {
    display: block;
  }


}

@media screen and (min-width: 1024px) {
  .App {
    width: 500px;
    /* Adjust as needed */
    margin: 5vh auto;
  }

  .other {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}